<div class="d-flex justify-content-end">
    <div class="d-flex" id="searchPanel">
        <input type="text" class="form-control mx-2" id="name" placeholder="Nombre" #searchInput>
        <button class="btn btn-outline-primary" (click)="search()">Buscar</button>
    </div>
</div>

<div *ngIf="results && results.length>0">
    <div class="row pt-2">
		<div class="col-6 col-md-4 col-lg-3 py-3" *ngFor="let result of results">
        <a routerLink="detail/{{result.mal_id}}" style="cursor: pointer;">
            <div class="card position-relative" style="width: 15rem;">

                <div *ngIf="result.is_favorite">
                    <span
                        class="position-absolute top-0 start-100 translate-middle p-2 bg-light border-light rounded-circle">
                        <svg style="color: red; " xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                        </svg>
                    </span>
                </div>

                <img style="max-height: 20rem;" [src]="result.image" class="img-fluid card-img-top"
                    [alt]="result.title">
                <div class="card-body">
                    <span class="badge text-bg-secondary me-2">{{result.type}}</span>
                    <span class="badge text-bg-info">{{result.year}}</span>
                    <p class="card-text title">{{result.title}}</p>
                </div>
            </div>
        </a>
    </div>
	</div>
</div>
<div *ngIf="!results || results.length==0">
	<h5 class="h5">Por favor de iniciar realizando una busqueda...</h5>
</div>